* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main {
    display: flex;
    justify-content: space-evenly;
    background-color: #dcdcdc;
    width: 100%;
    height: 150px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.right a {
    text-decoration-line: none;
    color: black;
}

.left-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    position: relative;
    right: 300px;
}

.left-1 h1 {
    color: red;
}

.border {
    border-bottom: 3px solid red;
    width: 40px;
    color: white;
    position: relative;
    right: 90px;
    bottom: 25px;
}


.input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 300px;
    position: relative;
    bottom: 210px;
    gap: 10px;
}

.input-1 {
    width: 400px;
    height: 40px;
}
.input-2 {
    width: 400px;
    height: 40px;
}
.input-3 {
    width: 400px;
    height: 40px;
}
.input-4 {
    width: 400px;
    height: 100px;
}

.button {
    width: 140px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
}

.button:hover {
    opacity: 0.5;
    transition: 0.6s;
}

svg {
    width: 15px;
    height: 15px;
}

.footer-main {
    display: flex;
    background-color: #dcdcdc;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.footer-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.svg {
    display: flex;
    gap: 15px;
}